<header>
    <div class="p-grid">
        <div class="p-col-3">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo"/>
            </div>
        </div>
        <div class="p-col-3 search">
            <products-search></products-search>
        </div>
        <div class="p-col-3 p-offset-1 navigation">
            <ngshop-nav></ngshop-nav>
        </div> 
        <div class="p-col-1 tools" *ngIf="!userLogged">
            <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem" routerLink='/login'></i>
            <orders-car-icon></orders-car-icon>
        </div>
        <div class="p-col-2 tools" *ngIf="userLogged">
            <span class="userName">{{userName}}</span>
            <i class="pi pi-sign-out" (click)="logoutUser()"></i>
            <orders-car-icon></orders-car-icon>
        </div>
    </div>
</header>
