body {
  font-family: 'Open Sans', sans-serif;
}

.p-component{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  @include respond(phone){
    font-size: 7px;
  }
}

a {
  text-decoration: none;
}
